### 安裝mysql套件

In [1]:
#pip install pymysql

In [2]:
import pymysql

pymysql.__version__

'1.4.6'

### 連接mysql

In [34]:
connect=pymysql.connect(
user="root",
password="12345678",
host="127.0.0.1",  #localhost
database="shop",
port=3306,
)


connect

In [35]:
cursor=connect.cursor()
cursor

### 查詢語法
- select from tablename

In [5]:
sqlsrt="select * from user;"

cursor.execute(sqlsrt)
users=cursor.fetchall()
users

((1,
  None,
  '12345678',
  'tim@gmail.com',
  '0912345678',
  '新北市新莊區思源路100號',
  datetime.datetime(2024, 8, 24, 10, 10, 57)),
 (2,
  None,
  '12345678',
  'tony@gmail.com',
  '0977889944',
  '',
  datetime.datetime(2024, 8, 24, 10, 35, 16)),
 (5,
  'tony',
  '12345678',
  'tony123@gmail.com',
  '0977889945',
  '',
  datetime.datetime(2024, 8, 24, 10, 37, 50)),
 (6,
  '唐牛',
  '7894561',
  'vicky@gmil.com',
  '0910456789',
  '',
  datetime.datetime(2024, 8, 24, 10, 42, 50)),
 (7,
  'tom',
  '12345678',
  'tom@gmail.com',
  '0916874592',
  '',
  datetime.datetime(2024, 8, 24, 11, 58, 23)),
 (8,
  'ian',
  '12345678',
  'ian@gmail.com',
  '0997531586',
  '45813',
  datetime.datetime(2024, 8, 24, 13, 26, 14)))

### 註冊功能

In [6]:
username=input("姓名:")
email=input("Email:")
password=input("密碼:")
phone=input("手機號碼:")
address=input("地址:")




sqlsrt= f"insert into user(username,email,password,phone,address) \
    values('{username}','{email}','{password}','{phone}','{address}');"

sqlsrt

In [6]:
try:
    cursor.execute(sqlsrt)
    connect.commit()
except Exception as e:
    print("寫入失敗",e)

### 進行登入

In [10]:
email=input("Email:")
password=input("密碼:")

sqlsrt=f"select * from user where email='{email}' and password='{password}'"
sqlsrt

"select * from user where email='tim@gmail.com' and password='12345678'"

In [11]:
cursor.execute(sqlsrt)
user=cursor.fetchone()
user

(1,
 None,
 '12345678',
 'tim@gmail.com',
 '0912345678',
 '新北市新莊區思源路100號',
 datetime.datetime(2024, 8, 24, 10, 10, 57))

In [12]:
if user is not None:
    print("登入成功!")
else:
    print("登入失敗!")

登入成功!

### 建立商品資料表(item)
- id     - int(AI)
- name   - varchar(100) - uniqne
- price  - float    
- qty    - int      - default:1
- info   - text     - 可以為空

### 商品列表

In [13]:
def update_item():
    sqlsrt="select * from item;"

    cursor.execute(sqlsrt)
    items=cursor.fetchall()
    return items

update_item()

((1,
  'macbook air 2023 pro',
  35000.0,
  0,
  '256ssd 16g',
  datetime.date(2024, 8, 24)),
 (2, 'hp tuf 17 noetbook', 43000.0, 0, '電競用筆電 黑色', datetime.date(2024, 8, 24)),
 (3, 'iphone 16 pro max', 42000.0, 4, '1TB 天空藍', datetime.date(2024, 8, 24)),
 (4, 'iphone 15 pro max', 45000.0, 4, '256G 玫瑰金', datetime.date(2024, 8, 24)),
 (5, 'iphone 14 pro max', 40000.0, 4, '256G 白', datetime.date(2024, 8, 24)),
 (6, 'iphone 17 pro max', 48000.0, 4, '1TB 綠色', datetime.date(2024, 8, 24)))

In [14]:
cart=[]

while True:
    # 同步更新最新產品
    items=update_item()
    # 選單
    print("-"*100)
    for i,item in enumerate(items):
        print(f"{i+1}.商品名稱:{item[1]} 價格:{item[2]} 數量:{item[3]} 備註:{item[4]}")
    print("-"*100)

    choice=int(input("輸入編號(0:eixt):"))
    if choice==0:
        break
    # 選項<1 or >len(items)  輸入不正確
    if choice<1 or choice>len(items):
        print("輸入不正確")
        continue
    # 紀錄購買商品
    buy_item=items[choice-1]
    # 數量小於1(無庫存)
    if buy_item[3]<1:
        print(f"*****{buy_item[1]}目前無庫存")
        continue
    # 加入購物車
    cart.append(buy_item)

    # 更新商品數量
    sqlsrt=f"update item set qty={buy_item[3]-1} where id={buy_item[0]};"
    print(sqlsrt)
    cursor.execute(sqlsrt)
    connect.commit()



    print(f"{buy_item[1]} 加入購物車")




print("完成購買")
print(cart)

----------------------------------------------------------------------------------------------------
1.商品名稱:macbook air 2023 pro 價格:35000.0 數量:0 備註:256ssd 16g
2.商品名稱:hp tuf 17 noetbook 價格:43000.0 數量:0 備註:電競用筆電 黑色
3.商品名稱:iphone 16 pro max 價格:42000.0 數量:4 備註:1TB 天空藍
4.商品名稱:iphone 15 pro max 價格:45000.0 數量:4 備註:256G 玫瑰金
5.商品名稱:iphone 14 pro max 價格:40000.0 數量:4 備註:256G 白
6.商品名稱:iphone 17 pro max 價格:48000.0 數量:4 備註:1TB 綠色
----------------------------------------------------------------------------------------------------
update item set qty=3 where id=3;
iphone 16 pro max 加入購物車
----------------------------------------------------------------------------------------------------
1.商品名稱:macbook air 2023 pro 價格:35000.0 數量:0 備註:256ssd 16g
2.商品名稱:hp tuf 17 noetbook 價格:43000.0 數量:0 備註:電競用筆電 黑色
3.商品名稱:iphone 16 pro max 價格:42000.0 數量:3 備註:1TB 天空藍
4.商品名稱:iphone 15 pro max 價格:45000.0 數量:4 備註:256G 玫瑰金
5.商品名稱:iphone 14 pro max 價格:40000.0 數量:4 備註:256G 白
6.商品名稱:iphone 17 pro max 價格:48000.0 數量:4 備註:1TB 綠色
----------------------------------------------------------------------------------------------------
update item set qty=3 where id=4;
iphone 15 pro max 加入購物車
----------------------------------------------------------------------------------------------------
1.商品名稱:macbook air 2023 pro 價格:35000.0 數量:0 備註:256ssd 16g
2.商品名稱:hp tuf 17 noetbook 價格:43000.0 數量:0 備註:電競用筆電 黑色
3.商品名稱:iphone 16 pro max 價格:42000.0 數量:3 備註:1TB 天空藍
4.商品名稱:iphone 15 pro max 價格:45000.0 數量:3 備註:256G 玫瑰金
5.商品名稱:iphone 14 pro max 價格:40000.0 數量:4 備註:256G 白
6.商品名稱:iphone 17 pro max 價格:48000.0 數量:4 備註:1TB 綠色
----------------------------------------------------------------------------------------------------
update item set qty=3 where id=5;
iphone 14 pro max 加入購物車
----------------------------------------------------------------------------------------------------
1.商品名稱:macbook air 2023 pro 價格:35000.0 數量:0 備註:256ssd 16g
2.商品名稱:hp tuf 17 noetbook 價格:43000.0 數量:0 備註:電競用筆電 黑色
3.商品名稱:iphone 16 pro max 價格:42000.0 數量:3 備註:1TB 天空藍
4.商品名稱:iphone 15 pro max 價格:45000.0 數量:3 備註:256G 玫瑰金
5.商品名稱:iphone 14 pro max 價格:40000.0 數量:3 備註:256G 白
6.商品名稱:iphone 17 pro max 價格:48000.0 數量:4 備註:1TB 綠色
----------------------------------------------------------------------------------------------------
完成購買
[(3, 'iphone 16 pro max', 42000.0, 4, '1TB 天空藍', datetime.date(2024, 8, 24)), (4, 'iphone 15 pro max', 45000.0, 4, '256G 玫瑰金', datetime.date(2024, 8, 24)), (5, 'iphone 14 pro max', 40000.0, 4, '256G 白', datetime.date(2024, 8, 24))]

### 送出訂單
- id
- user_id
- item_id
- created_item

In [15]:
for item in cart:
    #print(item)
    sqlsrt=f"insert into `order` (user_id,item_id) values({user[0]},{item[0]});"
    #print(sqlsrt)
    cursor.execute(sqlsrt)
    connect.commit()
    print("送出訂單成功!")

送出訂單成功!
送出訂單成功!
送出訂單成功!

### 開始出貨

In [16]:
# 找出user
sqlsrt="select * from `order`;"
cursor.execute(sqlsrt)
orders=cursor.fetchall()
orders

((5, 8, 1, datetime.datetime(2024, 8, 24, 14, 57, 42)),
 (6, 8, 1, datetime.datetime(2024, 8, 24, 14, 57, 42)),
 (7, 1, 3, datetime.datetime(2024, 8, 24, 15, 37, 32)),
 (8, 1, 4, datetime.datetime(2024, 8, 24, 15, 37, 32)),
 (9, 1, 5, datetime.datetime(2024, 8, 24, 15, 37, 32)))

In [21]:
user_id=orders[0][2]
user_id

1

In [29]:
sqlsrt=f"select * from user where id={user_id}"
cursor.execute(sqlsrt)
user=cursor.fetchone()
user

(1,
 None,
 '12345678',
 'tim@gmail.com',
 '0912345678',
 '新北市新莊區思源路100號',
 datetime.datetime(2024, 8, 24, 10, 10, 57))

In [42]:
sqlsrt=f"select id,item_id from `order` where user_id={user_id}"
cursor.execute(sqlsrt)
buy_items=cursor.fetchall()
buy_items

((7, 3), (8, 4), (9, 5))

In [43]:
""""
收貨人:
email:
phone:
address:

=====================================
1.xxx... 
2.ddd...



總計:
=====================================
"""



print(f"收貨人:{user[1]}")
print(f"email:{user[3]}")
print(f"phone:{user[4]}")
print(f"address:{user[5]}")




print("=======================================")
total=0
for i,item_id in enumerate(buy_items):
    #print(item_id[0])
    sqlsrt=f"select name,price from item where id={item_id[1]}"
    cursor.execute(sqlsrt)
    item=cursor.fetchone()
    print(f"{i+1}.{item[0]} price:{item[1]}")
    total+=item[1]
print("=======================================")
print(f"總計為:{total}")

收貨人:None
email:tim@gmail.com
phone:0912345678
address:新北市新莊區思源路100號
=======================================
1.iphone 16 pro max price:42000.0
2.iphone 15 pro max price:45000.0
3.iphone 14 pro max price:40000.0
=======================================
總計為:127000.0

In [46]:
for order_id in buy_items:
    print(order_id[0])
    sqlsrt=f"update `order` set shipped=1 where id={order_id[0]};"
    cursor.execute(sqlsrt)
    connect.commit()

7
8
9

In [47]:
connect.close()